.a_box{
  background: #ebe4e4;;
  box-shadow: 5px 10px 8px #888888;
  width: 100%; 
  height: auto;
  margin-top: 15px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 25px;
  font-family: arial;
  vertical-align: top;
  display: inline-block;
  box-shadow: 10px 10px 8px #888888;
}

.a_header{
  text-align: left;
  padding: 10px;
  background: linear-gradient(to right, #F0F8FF , #ebe4e4);
  border-radius: 25px;
  margin-top: 20px;
}

.a_sub_header{
  text-align: left;
  padding: 10px;
  border-radius: 25px;
  margin-top: 0px;
  font-style: italic;
  color: darkblue;
}

.a_content{
  padding: 10px;
}

.a_content li{
  line-height: 30px;
}


@media screen and (max-width: 600px) {
  .a_box{
    background: #ebe4e4;;
    box-shadow: 5px 10px 8px #888888;
    width: 500px; 
    height: auto;
    margin-top: 15px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 25px;
    font-family: arial;
    vertical-align: top;
    display: inline-block;
  }
  
}