.b_box{
  background: #ebe4e4;;
  box-shadow: 5px 10px 8px #888888;
  width: 100%; 
  height: auto;
  margin-top: 15px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 25px;
  font-family: arial;
  vertical-align: top;
  display: inline-block;
  box-shadow: 10px 10px 8px #888888;
  }