.exp_box{
  width: 100%;
  height: auto;
  margin-top: 15px;
  font-style: arial;
  display: inline-block;
  vertical-align: top;
  background: white;
  text-align: left;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 25px;
  padding: 5px;
}

.exp_header{
  text-align: left;
  padding: 5px;
  border-radius: 25px;
  margin-top: 10px;
  background: linear-gradient(to right, rgb(163, 213, 245) , white);
}

.exp_sub_header{
  text-align: left;
  padding: 10px;
  border-radius: 25px;
  margin-top: 5px;
  font-style: italic;
  color: darkblue;
}

.exp_content{
  padding: 20px;
  border-radius: 25px;
}

.exp_content li{
  list-style: none;
  line-height: 30px;
}

.exp_head{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
}

.job_name{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}

.job_date{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .exp_box{
    width: 510px;
    height: auto;
    margin-top: 15px;
    font-style: arial;
    display: inline-block;
    vertical-align: top;
    background: white;
    text-align: left;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 25px;
    padding: 5px;
    font-size: larger;
  }
  
}