.exp_box {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.exp_head {
  text-align: center;
  font-size: 1.7rem;
  color: #343a40;
  margin-bottom: 30px;
}

.exp_entry {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease-in-out;
  border: 3px solid #343a40;
  padding: 20px;
  font-size: large;
  border-radius: 8px;
}

.exp_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: larger;
}

.job_name {
  font-weight: bold;
  color: #17a2b8;
  font-size: larger;
}

.job_date {
  font-size: 0.9rem;
  color: #343a40;
  font-size: large;
  font-weight: bold;
}

.exp_sub_header {
  font-size: 1rem;
  margin-top: 5px;
  color: #000000;
  background-color: #ecf8f8;
  padding: 2px;
  font-size: large;
}

.exp_content {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.exp_content li {
  margin-bottom: 5px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .exp_entry {
    flex-direction: column;
    align-items: center;
  }

  .exp_header {
    flex-direction: column;
    align-items: flex-start;
  }
}
