.bottom_tab{
    width: 100%;
    padding: 2px;
    text-align: center;
    font-size: larger;
    font-family: cursive;
    background: #d5ebf9;
    margin-top: auto;
    border-style: solid;
    border-color: #8bc3f4;
    border-width: 5px;
}

  .heart {
    color: red;
  }



@media screen and (max-width: 600px) {

    .bottom_tab{
        width: 100%;
        padding: 2px;
        text-align: center;
        font-size: larger;
        font-family: cursive;
        background: #d5ebf9;
        margin-top: auto;
        border-style: solid;
        border-color: #8bc3f4;
        border-width: 5px;
    }
    
      .heart {
        color: red;
      }
}