.bottom_tab{
    background-color: #005A9C;
    margin-left:400px;
    margin-top: 20px;
    width: auto;
    border-radius: 25px;
    width: 50%;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
}

.footer_text{
    padding: 15px;
    text-align: center;
    font-family: Verdana;
    color: white;
}

@media screen and (max-width: 800px) {

    .bottom_tab{
        background-color: #005A9C;
        margin-left:0px;
        margin-top: 20px;
        width: auto;
        border-radius: 25px;
        width: 550px;
        text-align: center;
    }  

}
