.header{
  box-shadow: 10px 10px 8px #888888;
}

.tab {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width:50%;
  padding: 10px;
  position: sticky; top: 5px;
  font-family: arial;
  background: #fefefe;
  color: black;
  display:inline-block;
  vertical-align: top;
}

.tab li{
  list-style: none;
  padding: 5px;
  word-spacing: 20px;
  display: inline-block;
  color: black
}

.tab a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  display: inline;
  transition: all 0.2s linear;
  border-radius: 20px;
  padding: 10px;
  width: max-content;
  color: black
}

.tab a:hover:not(.active) {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

.tab a:focus{
  background-color: lightgrey;
  color: black;
}

.active {
  background-color: darkblue;
}

.sidepanel {
  display: none;
}

.name{
  padding: 5px;
  font-size: 25px;
  font-family: arial;
  font-weight: bold;
  display:inline-block;
  vertical-align: top;
  width:20%;
  text-align: center;
  color: dodgerblue;
}

.logo{
  width: 30%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.logo a{
  word-spacing: 5px;
}

@media screen and (max-width: 600px) {
  .tab {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width:510px;
    margin-top: 15px;
    padding: 10px;
    position: sticky; top: 5px;
    font-family: arial;
    background: #000428;
    background: -webkit-linear-gradient(to right, #000428, #004e92);
    background: linear-gradient(to right, #000428, #004e92);
    border-radius: 25px;
    box-shadow: 10px 10px 8px #888888;
  }

  .tab li{
    list-style: none;
    padding: .5px;
    display: inline-block;
  }

  .tab a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline;
    transition: all 0.2s linear;
    border-radius: 20px;
    padding: 2px;
    width: max-content;
  }

}