.h_box{
  background: white;
  box-shadow: 10px 10px 8px #888888;
  width: 100%; 
  height: auto;
  margin-top: 15px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 25px;
  font-family: arial;
  vertical-align: top;
  display: inline-block;
  }

  .h_header{
    text-align: left;
    padding: 10px;
    background: linear-gradient(to right, #c0dffa , white);
    border-radius: 25px;
    margin-top: 10px;
  }

  .h_content{
    padding: 20px;
    border-radius: 25px;
    margin-top: 5px;
  }

  .h_content li{
      line-height: 30px;
      padding: 5px;
  }

  @media screen and (max-width: 600px) {
    .h_box{
      background: white;
      box-shadow: 5px 10px 8px #888888;
      width: 510px; 
      height: auto;
      margin-top: 15px;
      margin-left: 0px;
      padding: 10px;
      border-radius: 25px;
      font-family: arial;
      vertical-align: top;
      display: inline-block;
      font-size: larger;
      }
    
  }
