.home_box{
  width: 100%;
  height: auto;
  margin-top: 15px;
  font-style: arial;
  display: inline-block;
  vertical-align: top;
  background: #ebe4e4;
  text-align: center;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 25px;
}

.home_left{
  width: 70%;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}

.home_right{
  width: 30%;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}

.home_right li{
  list-style: none;
  background: white;
  line-height: 30px;
}

.home_header{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.home_content{
  padding: 15px;
  line-height: 25px;
}

@media screen and (max-width: 600px) {
  .home_box{
    width: 500px;
    height: auto;
    margin-top: 15px;
    font-style: arial;
    display: inline-block;
    vertical-align: top;
    background: #ebe4e4;
    text-align: center;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 25px;
  }

  .home_left{
    width: 100%;
    padding: 5px;
  }
  
  .home_right{
    width: 100%;
    padding: 5px;
  }

  .home_right li{
    list-style: none;
    background: white;
    line-height: 30px;
  }
  
}