.home_box{
  background: white;
  box-shadow: 5px 10px 8px #888888;
  width: 50%; 
  height: auto;
  margin-top: 20px;
  margin-left: 400px;
  padding: 10px;
  border-radius: 25px;
  font-style: arial;
}

.home_header{
  text-align: center;
  padding: 10px;
  background: linear-gradient(to right, lightgray , white);
  font-weight: bold;
  border-radius: 25px;
  margin-top: 10px;
}

.home_content{
  padding: 20px;
  border-radius: 25px;
  line-height: 30px;
  background: linear-gradient(to right, #F0F8FF , white);
  margin-top: 5px;
  color: #005A9C;
}

@media screen and (max-width: 800px) {
  .home_box{
    background: white;
    box-shadow: 5px 10px 8px #888888;
    width: 550px; 
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 25px;
    font-style: arial;
  }
  
}