.tab {
  background-color: #005A9C;
  font-family: Verdana;
  border-radius: 25px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width:50%;
  height: 45px;
  margin-left: 400px;
  margin-top: 20px;
  box-shadow: 5px 10px 8px #888888;
  padding: 10px;
  position: sticky; top: 5px;
  font-family: arial;
}

.tab li{
  list-style: none;
  display: inline-block;
  padding: 5px;
}

.tab a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  display: inline;
  transition: all 0.2s linear;
  border-radius: 20px;
  padding: 20px;
}

.tab a:hover:not(.active) {
  background-color: white;
  color: #005A9C;
  font-weight: bold;
}

.tab a:focus{
  background-color: white;
  color: #005A9C;
  font-weight: bold;
}

.active {
  background-color: darkblue;
}

@media screen and (max-width: 800px) {
  .tab {
    background-color: #005A9C;
    font-family: Verdana;
    border-radius: 25px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width:550px;
    height: 45px;
    margin-left: 0px;
    margin-top: 20px;
    box-shadow: 5px 10px 8px #888888;
    padding: 5px;
  }

  .tab li{
    list-style: none;
    display: inline-block;
    padding: 2px;
  }
  
  .tab a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline;
    transition: all 0.2s linear;
    border-radius: 20px;
    padding: 15px;
  }

}