.tab {
  overflow: hidden;
  background-color: #2664F5;
  position: fixed;
  top: 10px;
  left:500px;
  width: 40%;
  font-family: Verdana;
  transition: all 0.5s ease 0s;
  border-radius: 25px;
  height: 5%;
  text-align: center;
}

.links {
  text-decoration: none;
  float: center;
  padding-top: 5px;
  position: relative;
}

.links a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  display: inline;
  transition: all 0.2s linear;
  flex: 1;
}

.links a:hover:not(.active) {
  background-color: darkblue;
}

.links a:focus{
  background-color: darkblue;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 800px) {
  .tab {
    overflow: hidden;
    background-color: grey;
    position: fixed;
    top: 335px;
    left:0px;
    width: 100%;
    font-family: Verdana;
    transition: all 0.5s ease 0s;
    border-radius: 0px;
    height: 5%;
    text-align: center;
    display: none;
  }
  
  .links {
    text-decoration: none;
    float: center;
    padding-top: 6px;
    position: relative;
  }
  
  .links a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 10px;
    display: inline;
  }
  
  .links a:hover:not(.active) {
    background-color: darkblue;
  }
  
  .active {
    background-color: #04AA6D;
  }
}