.pro_box{
  width: 100%;
  height: auto;
  margin-top: 15px;
  font-style: arial;
  display: inline-block;
  vertical-align: top;
  background: white;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 10px 10px 8px #888888;
}

.project_head{
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  margin-top: 5px;
  font-weight: bold;
}

.project_content{
  padding: 15px;
  text-align: left;
}

.project_content li{
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  .pro_box{
    width: 510px;
    height: auto;
    margin-top: 15px;
    font-style: arial;
    display: inline-block;
    vertical-align: top;
    background: white;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    font-size: larger;
  }
  
}