.research_box{
  background: white;
  box-shadow: 5px 10px 8px #888888;
  width: 50%; 
  height: auto;
  margin-top: 20px;
  margin-left: 400px;
  padding: 10px;
  border-radius: 25px;
  font-family: arial;
}

.re_header{
  text-align: left;
  padding: 10px;
  background: linear-gradient(to right, lightskyblue , white);
  border-radius: 25px;
  margin-top: 20px;
}

.re_sub_header{
  text-align: left;
  padding: 10px;
  background: linear-gradient(to right, #F0F8FF , white);
  border-radius: 25px;
  margin-top: 0px;
}

.re_pub{
  padding: 0px;
  border-radius: 25px;
}

.pro_head{
  padding: 10px;
  background: linear-gradient(to right, #005A9C , white);
  margin-bottom: 10px;
  border-radius: 25px;
  margin-top: 25px;
  color: white;
}

.pro_content{
  padding: 10px;
  background: linear-gradient(#F0F8FF, white);
  color: #005A9C;
}

.pro_content li{
  line-height: 30px;
}

.re_head{
  padding: 10px;
  background: linear-gradient(to right, #005A9C , white);
  margin-bottom: 10px;
  border-radius: 25px;
  color: white;
}

.pub_name{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}

.pub_download{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
}

.pub_date{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
  color: rgb(54, 53, 53);
}

@media screen and (max-width: 800px) {
  .research_box{
    background: white;
    box-shadow: 5px 10px 8px #888888;
    width: 550px; 
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 25px;
    font-family: arial;
  }
  
}