.research_box{
  width: 100%;
  height: auto;
  margin-top: 15px;
  font-style: arial;
  display: inline-block;
  vertical-align: top;
  background: white;
  text-align: center;
  border-radius: 25px;
  box-shadow: 10px 10px 8px #888888;
}

.re_header{
  text-align: left;
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
  background: linear-gradient(to right, #acd7fc , white);
}

.re_sub_header{
  text-align: left;
  padding: 10px;
  border-radius: 25px;
  margin-top: 0px;
  font-style: italic;
}

.re_pub{
  padding: 0px;
  border-radius: 25px;
}

.re_head{
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.pub_name{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}

.pub_download{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 10px;
}

.pub_date{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
  color: rgb(54, 53, 53);
  margin-bottom: 15px;
}

.imgp{
  height: 150px;
  width: 120px;
  padding:5px;
  border-radius: 25px;
  object-fit: cover;
}

.prof{
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .research_box{
    width: 510px;
    height: auto;
    margin-top: 15px;
    font-style: arial;
    display: inline-block;
    vertical-align: top;
    background: white;
    text-align: center;
    border-radius: 25px;
    font-size: larger;
  }
  
}