* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: rgb(255, 255, 255);
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 0px;

}

@media screen and (max-width: 800px) {

  body {
    font-family: Arial;
    padding: 0px;
    background: rgb(255, 255, 255);
  }
 
}