* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: rgb(201, 202, 195);
  padding-left: 100px;
  padding-right: 100px;
}

@media screen and (max-width: 800px) {

  body {
    font-family: Arial;
    padding: 0px;
    background: rgb(201, 202, 195);
  }
 
}